<EditForm Model="res" OnValidSubmit="onValidSubbmit">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label>Codigo de reserva</label>
        <div>
            <InputNumber class="form-control" @bind-Value="@res.NroReserva" />
            <ValidationMessage For="@(() => res.NroReserva)" />
        </div>
    </div>

    <div class="form-group">
        <label>DNI</label>
        <div>
            <InputNumber class="form-control" @bind-Value="@res.Dni" />
            <ValidationMessage For="@(() => res.Dni)" />
        </div>
    </div>


    <div class="form-group">
        <label>DNI de Huéspedes</label>
        <div>
            @foreach (var dni in dniHuespedes)
            {
                var dniTemp = dni; // Variable temporal para mantener el valor actual de dni
                <div class="input-group">
                    <InputNumber class="form-control" @bind-Value="@dniTemp" />
                    <div class="input-group-append">
                        <button class="btn btn-danger" @onclick="() => EliminarDni(dniTemp)">Eliminar</button>
                    </div>
                </div>
            }

            <button class="btn btn-primary" @onclick="AgregarDni">Agregar otro DNI</button>
        </div>
    </div>




    <div class="form-group">
        <label>Fecha inicio</label>
        <div>
            <InputDate class="form-control" @bind-Value="@res.Fecha_inicio" />
            <ValidationMessage For="@(() => res.Fecha_inicio)" />
        </div>
    </div>

    <div class="form-group ">
        <label>Fecha Fin</label>
        <div>
            <InputDate class="form-control" @bind-Value="@res.Fecha_fin" />
            <ValidationMessage For="@(() => res.Fecha_fin)" />
        </div>
    </div>

    <div class="form-group ">
        <label>Numero de habitacion</label>
        <div>
            <InputNumber class="form-control" @bind-Value="@res.nhabs" />
            <ValidationMessage For="@(() => res.nhabs)" />
        </div>
    </div>
    <br />
    <button class="btn btn-primary" type="submit" >Aceptar</button>
    <button class="btn btn-secondary" @onclick="onCancel">Cancelar</button>
</EditForm>



@code {

    [Parameter] public Reserva res { get; set; } = new Reserva();
    [Parameter] public EventCallback onValidSubbmit { get; set; }
    [Parameter] public EventCallback onCancel { get; set; }
    [Parameter] public List<int> dniHuespedes { get; set; } = new List<int>();


    private void AgregarDni()
    {
        dniHuespedes.Add(0); // Agregar un nuevo campo en blanco.
    }

    private void EliminarDni(int dni)
    {
        dniHuespedes.Remove(dni);
    }

}
