

@inject IHTTPServicio http

<PageTitle>Gestion Hotel</PageTitle>

<main class="bg-fondo vh-100 p-3 container overflow-auto ">
    <div class="botonera text-center m-2">
        <button type="button" class="btn btn-success text-uppercase fw-bold shadow-sm" @onclick="NavegarAOtraPagina1">
            <i class="bi bi-plus"></i> + Habitación
        </button>
        <button type="button" class="btn btn-light text-uppercase fw-bold shadow-sm">
            <i class="bi bi-bed text-success"></i> Disponibles: <span class="text-success fw-bold">@habitacionesDisponibles</span>
        </button>
        <button type="button" class="btn btn-light text-uppercase fw-bold shadow-sm">
            <i class="bi bi-bed text-danger"></i> Ocupadas: <span class="text-danger fw-bold">@habitacionesNoDisponibles</span>
        </button>
        <button type="button" class="btn btn-light text-uppercase fw-bold shadow-sm">
            <i class="bi bi-wrench text-info"></i> Reparación: <span class="text-violet fw-bold">@habitacionesEnMantenimiento</span>
        </button>
    </div>
    <div class="container">
        <div class="row">
         
 
        @if (Error)
        {
            <tr>@Mensaje</tr>
        }
        else
        {
            @if (habitaciones == null)
            {
                <tr>Cargando....</tr>
            }
            else if (habitaciones.Count == 0)
            {
                <tr>no existen datos</tr>
            }
            else
            {
            @foreach (var item in habitaciones)
            {
                   <div class="col-lg-2 col-md-4 col-sm-6 col-12 mb-4">
                     <div class="card rounded shadow">

                                <div class="card-header text-uppercase text-center fw-bold" style="background-color: @(item.Estado == "disponible" ? "#4CAF50" : (item.Estado == "ocupada" ? "#FF5722" : (item.Estado == "reparacion" ? "#9C27B0" : "#607D8B"))); color: white;">
                                    <p class="mb-1">@item.Nhab</p>
                                    <p class="mb-0">@item.Estado</p>
                                </div>
                                <div class="card-body text-center">
                                    <p class="fw-bold mb-0">Camas: @item.Camas</p>
                                    <button class="btn btn-secondary mt-3 text-uppercase fw-bold font-xs" @onclick="NavegarAOtraPagina">Ver habitación</button>
                                </div>
                                <div class="card-footer text-center">
                                    <a class="btn btn-primary text-uppercase fw-bold font-xs" href="habitacion/editar/@item.Id">
                                        <i class="fas fa-edit"></i> Editar
                                    </a>
                                </div>
                      </div>
                   </div>
                 
            }
            }
            }
           
        </div>
    </div>
</main>

@code {
  
    [Inject]
    private NavigationManager NavigationManager { get; set; }

    List<Habitacion> habitaciones;

    string Mensaje = "";
    bool Error;
   
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await Leer();
        OnInitialized();
    }
    private async Task Leer()
    {
        var respuesta = await http.Get<List<Habitacion>>("api/Habitacion");
        Error = respuesta.Error;

        if (!respuesta.Error)
        {
            habitaciones = respuesta.Respuesta;
        }
        else
        {
            Mensaje = await respuesta.ObtenerError();
        }
    }

    private string ObtenerColorDeFondo(string estado)
    {
        switch (estado)
        {
            case "disponible":
                return "green"; // Cambia el color verde para el estado "activo"
            case "ocupada":
                return "red"; // Cambia el color rojo para el estado "inactivo"
            case "reparacion":
                return "violet"; // Color predeterminado para otros estados
            default:
                return "black";
        }
    }
    int habitacionesDisponibles;
    int habitacionesNoDisponibles;
    int habitacionesEnMantenimiento;

    private void OnInitialized()
    {
        habitacionesDisponibles = 0;
        habitacionesNoDisponibles = 0;
        habitacionesEnMantenimiento = 0;

        foreach (var habitacion in habitaciones)
        {
            if (habitacion.Estado== "disponible")
            {
                habitacionesDisponibles++;
            }
            else if (habitacion.Estado == "ocupada")
            {
                habitacionesNoDisponibles++;
            }
            else if (habitacion.Estado == "reparacion")
            {
                habitacionesEnMantenimiento++;
            }
        }
    }
    private void NavegarAOtraPagina()
    {
        NavigationManager.NavigateTo("/personas"); // Ruta a la otra página

    }
    private void NavegarAOtraPagina1()
    {
        NavigationManager.NavigateTo("/crear"); // Ruta a la otra página

    }
}




